{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container my-3">
  <div class="row">
    <h3>Welcome {{request.user}}</h3>

    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid"><a href="{% url 'profile' 2 %}" class="btn btn-outline-info">Profile</a></li>
      </ul>
    </div>

    <div class="col-sm-6 offset-sm-1">
      <h3>Change Password</h3>
      <hr>
      {% if messages %}
          {% for message in messages %}
              <h3>{{message}}</h3>
          {% endfor %}
      {% endif %}

      <div class="bg-dark">
        <form action="" method="post" novalidate class="shadow p-5" autocomplete="off">
          {% csrf_token %}
            {% for fm in form %}
              <div class="form-group">
                {{fm}} <br>
  
                {% if fm.errors %}
                  <small class="text-white fw-bold">{{fm.errors|striptags}}</small><br>
                {% endif %}
  
                {% if fm.help_text %}
                  <small class="text-info fw-bold">{{fm.help_text|safe}}</small>
                {% endif %}
  
              </div>
            {% endfor %}

<!---------------------------------- BUTTON ------------------------------------------------------------>
            <small><a href="{% url 'password-reset' %}" class="text-center  fw-bold">Forgot Password ?</a></small> <br>
            <div class="row">
              <div class="col-sm-4 text-center offset-sm-4">
                <input type="submit" class="btn btn-outline-info mt-2 container-fluid" value="Save">
              </div>
            </div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-primary my-3">{{error}}</p>
                {% endfor %}
            {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}